@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: darkred;
}

.hide {
	display: none;
}

.remove-from-dom {
  position: absolute;  left: -999999px;
}

// img {
//   height: 300px;
// }

.board-image {
  border: grey 0.25em solid;
  border-radius: 2em;
}

.pin-image {
  width: 100%;
}

.delete-board-button, .edit-pin-button, .delete-pin-button {
  color: darkred;
}
